*.Rout
*.R~
*.tex~
*.pdf
.RData
*.aux
*.bbl
*.blg
*.log
*.spl
*.out
stringNotes.bib
rinp-template.*

elsarticle.cls
elsevier-logo.eps
model3-num-names.bst
oldstringNotes.bib
prletfig01.eps
rinp-logo.eps
rinp.sty
